{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    {% if error_massage %}
        <div class="alert alert-warning" role="alert">
            {{ error_massage }}
        </div>
    {% endif %}
    <h1>Here you can create a new page</h1>
    <form action="{% url 'encyclopedia:new' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="w-100" for="entry-title">Title</label>
            <input class="w-100 form-control" type="text" name="entry-title" id="entry-title" required>
            
            <label class="w-100 pt-3" for="entry-text">Content</label>
            <textarea class="form-control" label="Content" name="entry-text" id="entry-text" rows="10" required></textarea>
            <small class="w-100 form-text text-muted">You may type the content here in Markdown.</small>
        </div>

        <input class="btn btn-primary" type="submit" value="Save"> 
    </form>
    
{% endblock %}